.pagina-perfil {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;

    .secao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        flex-grow: 1;

        padding: 50px 40px;
        background-color: var(--fundo-tela);
        color: rgb(var(--cor-textos));

        transition: 0.3s;
        * {
            transition: 0.1s;
        }
        
    
        .perfil {
            display: flex;
            flex-direction: row;
            
            height: 100%;
            width: 100%;
            max-width: 800px;

            align-items: center;
            justify-content: flex-start;
            padding: 20px 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 8px rgba(var(--cor-textos), 0.3);
            background-color: var(--fundo-componentes);

            .ladoEsq {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 60px;

                .imagem {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 150px;
                    width: 150px;
                    margin-bottom: 20px;
                    
                    border-radius: 100px;

                    > img {
                        height: 150px;
                        width: 150px;
                    }

                    #inputImg {
                        position: absolute;
                        visibility: hidden;
                    }
                }

                .trocaImg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 25px;
                    width: 170px;
                    margin-bottom: 7px;
                    background-color: var(--azul-escuro);
                    border-radius: 10px;
                    transition: 0.5s;

                    > button {
                        text-decoration: none;
                        border: none;
                        background: none;
                        color: #ffffff;
                        font-size: 14px;
                    }
                }

                .trocaImg:hover {
                    background-color: #767985;
                    transition: 0.5s;
                }

                > a, > button {
                    text-decoration: none;
                    background: none;
                    border: none;

                    font-size: 16px;
                    color: rgb(var(--cor-textos));
                    margin: 10px 0px;
                    transition: 0.5s;
                    
                    cursor: pointer;
                }

                > a:hover, > button:hover {
                    scale: 1.05;
                    transition: 0.5s;
                }
            }

            .barra {
                height: 450px;
                width: 2px;
                background-color: rgb(139, 139, 139);
                margin: 0px 70px;
            }

            .ladoDir {
                > h1 {
                    font-size: 20px;
                    margin: 15px 0px;
                }

                > h3 {
                    margin: 20px 0px 7px 0px;
                }

                .info {
                    min-width: 30vw;
                    max-width: 100%;
                    background-color: var(--fundo-componentes2);
                    box-shadow: 0px 2px 4px rgba(var(--cor-textos), 0.2);
                    border-radius: 7px;
                    padding: 7px;
                }

                .infoTrocavel {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 30px;
                    width: 200px;
                                        
                    > div {
                        background-color: var(--fundo-componentes2);
                        box-shadow: 0px 2px 4px rgba(var(--cor-textos), 0.2);
                        border-radius: 7px;
                        min-width: 25vw;
                        max-width: 100%;
                        padding: 7px;
                        margin-right: 14px;
                    }

                    > a {
                        color: #00ccff;
                    }
                }

                .data {
                    display: flex;
                    flex-direction: row;

                    > div {
                        margin-right: 10px;
                        background-color: var(--fundo-componentes2);
                        box-shadow: 0px 2px 4px rgba(var(--cor-textos), 0.2);
                        border-radius: 7px;
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
}