.card-produto {
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: 340px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: var(--fundo-componentes);
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.4);

    color: rgb(var(--cor-textos));

    div {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        max-width: 200px;
        max-height: 260px;

        @media (max-width: 768px) {
            max-width: 220px;
            max-height: 220px;
            margin-bottom: 20px;
        }
    }

    img {
        width: auto;
        height: 100%;
        object-fit: contain;
        max-width: 200px;
        width: 100%;
    }

    >h2 {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 16px;
    }

    >.preco-anterior {
        font-size: 12px;
        font-weight: 600;
        text-decoration: line-through;
    }

    >.preco {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    >p {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 6px;
    }

    >a {
        margin-top: 14px;

        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;

        color: #FFFFFF;
        background-color: #435681;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.2);
        padding: 10px 20%;

        border-radius: 8px;
        transition: 0.5s;
    }

    >a:hover {
        background-color: #7682a0;
    }

    @media (max-width: 900px) {

        padding: 15px;

        h2 {
            font-size: 13px;
        }

        a {
            display: none;
        }

        >img {
            margin-bottom: 5px;
        }

        >h2 {
            margin-bottom: 7px;
        }

        .preco {
            margin-bottom: 8px;
        }
    }
}

.tema-cinza {
    background-color: var(--cinza-fundo);
    color: var(--preto-textos);
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
}

.tema-claro {
    background-color: #FFF;
    color: var(--preto-textos);
}

.tema-escuro {
    background-color: var(--cinza-componentes);
    color: #FFF;
}