.pesquisaBody {

    transition: 0.3s;
    * {
        transition: 0.1s;
    }

    color: rgb(var(--cor-textos));
    background-color: var(--fundo-tela);

    .infoNavegacao {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .infoNavegacao > a {
        text-decoration: none;
        margin: 0px 10px;
        font-size: 14px;
        color: var(--azul-claro);
    }

    .infoNavegacao > p {
        margin: 0px 10px;
        font-size: 14px;
    }

    .infoNavegacao > a:hover {
        color: rgba(var(--cor-textos), 0.7);
        cursor: pointer;
    }

    > .logoFiltro {
        display: none;

        @media(max-width: 768px) {
            display: inline-block;
        }
    } 

    > h1 {
        font-size: 25px;
        text-align: center;
    }

    .s1 {
        display: flex;
        flex-direction: row;
        padding: 30px 20px;
    }

    .filtro {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 35px;
        border-radius: 11px;
        background: linear-gradient(180deg, #213051 0%, #0C111C 100%);
        height: auto;
        color: white;

        text-align: center;
    }

    .filtro > h1 {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 600;
    }

    .filtro > h2 {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    .filtro > a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        margin: 10px 0px;
        transition: 0.5s;
    }

    .filtro > a:hover {
        color: #e6e6e6;
        font-size: 16px;
        transition: 0.5s;
    }

    .caixaMarcacao {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px
    }

    .caixa {
        display: flex;
        flex-direction: row;
        margin: 0px 8px;
    }

    .caixa > input {
        margin-right: 5px;
        cursor: pointer;
    }

    .caixa > p {
        font-size: 14px;
    }


    .produtosInsta {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 0 16px;   
    }

    .produtos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        gap: 20px;
    }

    .cartoesProduto {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        margin-bottom: auto;

        > p {
            font-size: 20px;
            letter-spacing: 2px;
        }

        .setas {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 3px;
            background-color: #152039;
            margin: 0px 10px;

            > img {
                height: 13px;
                width: 13px;
                cursor: pointer;
            }
        }

        .numPagina {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 3px;
            background-color: #e6e6e6;
            margin: 0px 10px;

            > a {
                color: #000000;
                text-decoration: none;
            }
        }
  
    }


    .instagram {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 100%;
        padding: 0px 20px;
        border-radius: 10px;
        background: var(--azul-marca, #152039);

        > a {
            color: #ffffff;
            text-decoration: none;
            text-align: center;
        }

        .degrade {
            height: 150px;
            width: 100px;
            position: absolute;
            background: linear-gradient(90deg, #152039 50.24%, rgba(21, 32, 57, 0.00) 92.42%);
        }

        .degrade2 {
            height: 150px;
            width: 100px;
            position: absolute;
            right: 150px;
            background: linear-gradient(-90deg, #152039 50.24%, rgba(21, 32, 57, 0.00) 92.42%);    
        }

        .stardewValley {
            display: flex;
            border-radius: 10px;
            height: 100%;

            > img {
                width: 500px;
                margin-right: 20px;
            }
        }

    }

    .filtroResp {
        display: none;
    }

    @media (max-width: 1024px) {
        .instagram {
            > a {
                margin: 0px 10px;
            }
            
            .stardewValley {
                > img {
                    min-width: none;
                    max-width: 360px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        position: relative;

        .infoNavegacao {
            display: none;
        }

        > .logoFiltro {
            position: absolute;
            top: 75px;
            left: 25px;
            z-index: 1;
                
            > img {
                height: auto;
                width: 100%;
                max-width: 50px;
            }
        }

        .filtroResp {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            z-index: 2;
            height: auto;
            width: 100%;
            max-width: 300px;
            padding: 15px 20px;
            padding-top: 60px;
            background-color: #152039;

            overflow-y: scroll;
            max-height: 100vh;

            > .logoFiltro {
                position: absolute;
                top: 20px;
                left: 25px;
                z-index: 1;
                    
                > img {
                    height: auto;
                    width: 100%;
                    max-width: 50px;
                }
            }

            .secFiltro {
                display: flex;
                flex-direction: column;
                align-items: center;

                > h2 {
                    font-size: 26px;
                    margin-bottom: 10px;
                    color: #ffffff;
                }

                > h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                    color: #ffffff;
                }

                > input {
                    margin-bottom: 10px;
                }

                .marcacaoResp {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;

                    .caixaResp {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0px 10px;

                        > p {
                            color: #ffffff;
                        }
                    }
                }

                > a {
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 14px;
                    margin: 10px 0px;
                    transition: 0.5s;
                }

                > a:hover {
                    color: #e6e6e6;
                    font-size: 16px;
                    transition: 0.5s;
                }
            }
        }

        .s1 {
            padding: 40px 30px;
        }

        .produtosInsta {
            width: 100%;
            margin-left: 0px;
        }

        .card-produto {
            > img {
                max-width: 200px!important;
            }

            > h2  {
                text-align: center;
            }

            > a {
                width: 100%;
                max-width: 500px!important;
                text-align: center;
            }
        }

        .cartoesProduto {
            flex-direction: column;
        }
        
        .sec-categorias {
            display: none;
        }

        .filtro {
            display: none;
        }

        .instagram {
            display: none;
        }
    }

    .img-branco {
        filter: invert(90%) sepia(0%) saturate(1991%) hue-rotate(150deg) brightness(92%) contrast(106%);
    }
}