.common-cabecalho
{
    display: flex;
    justify-content: center;

    background-color: var(--azul-marca);
    color: white;
    width: 100%;
    
    .container-cabecalho
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        max-width: var(--container-tela);

        padding: 20px 20px;
    }

    .container-cabecalho-mobile {
        display: none;
    }

    .logo
    {
        margin-right: 15px;
        min-width: 130px;

        a > .logo-sem-nome {
            display: none;
        }
    }

    .logo > a, .logo > a > img
    {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

    .input
    {
        width: 100%;
        max-width: 510px;

        position: relative;
        margin-right: 15px;
    }

    .input input
    {
        width: 100%;
        padding: 7px;
        padding-left: 45px;

        border: none;
        border-radius: 15px;
        background-color: var(--cinza-imagens);
    }

    .input > input::placeholder
    {
        font-weight: medium;
        font-size: clamp(12px, 1vw, 14px);
        vertical-align: middle;
    }

    .input img
    {
        position: absolute;
        left: 12px;
        top: 4px;

        width: 22px;
        height: 22px;
    }

    .nav
    {
        min-width: 190px;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .nav:not(.nav:last-child)
    {
        margin-right: 15px;
    } 

    .nav div h2, .nav div a
    {
        font-size: clamp(12px, 1vw, 14px);
        font-weight: 300;
        vertical-align: bottom;

        color: white;
    }

    .nav img
    {
        max-height: 50px;
        margin-right: 10px;
    }

    button 
    {
        background-color: transparent;
        border: none;
    }

    button img
    {
        color: var(--cinza-imagens);
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    @media (max-width: 1024px) {
        .container-cabecalho {
            display: none;
        }

        .container-cabecalho-mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            max-width: 850px;
            width: 100%;
            padding: 10px 20px;

            .logo {
                min-width: 110px;
            }

            .input {
                max-width: 550px;
            }

            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0;

                img {
                    height: 40px;
                    width: 40px;
                }
            }

            button:first-of-type {
                margin-right: 10px;
            }
        }
    }

    @media (max-width: 600px) {
        .container-cabecalho-mobile {
            button img {
                width: 30px;
                height: 30px;
            }
        }

        .input input::placeholder, .input input {
            font-size: 11px;
        }
    }

    @media (max-width: 520px) {
        .container-cabecalho-mobile {

            padding: 10px 12px;

            .logo {
                min-width: unset;
            }

            .logo a img {
                display: none;
            }

            .logo .logo-sem-nome {
                display: inline-block;
                width: 40px;
                height: 40px;
            }

            .input input {
                padding-left: 12px;
            }

            .input img {
                display: none;
            }
        }
    }

    @media (max-width: 375px) {
        .container-cabecalho-mobile {
            .logo .logo-sem-nome {
                width: 35px;
                height: 35px;
            }

            button img {
                width: 25px;
                height: 25px;
            }
        }
    }
}