.Tela-Login{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    background: var(--fundo-tela);
    transition: 0.3s;

    color: rgb(var(--cor-textos));

.gradient {
    background: linear-gradient(180deg, rgba(0,0,0,0) 14%, rgba(33,48,81,1) 68%);
}

.Login{
    display: flex;
    width: 100%;
    max-width: 914px;
}

.gradient{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.User-Login-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Dados-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: var(--fundo-componentes);
    padding: 45px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Dados-Container > h1{
    font-size: 25px;
    align-self: center;
    padding: 12px;
    font-family: 'montserrat';
}

.Dados-Container input{
    height: 35px;
    width: 100%;
    margin: 12px 0px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000041;
    padding: 10px;

    background-color: #D9D9D9;
}

.Dados-Container input:focus-visible{
    outline: none;
}


.Dados-Container > button, .Dados-Container .link-cadastro{
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background: #152039;
    transition: 0.3s;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.Dados-Container > button:hover, .Dados-Container .link-cadastro:hover {
    cursor: pointer;
    scale: 1.05;
}

.Dados-Container > a {
    margin-top: 20px;
    color: var(--azul-claro);
}

.Login-google{
    background-color: #152039;
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
    justify-content: center;
    gap: 25px !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Login-google > p{
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 273px;
    line-height: normal;
}

.Login-google > button{
    width: 112px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px #00000041;
    border: none;
    font: 600;
    font-family: 'Josefin Sans', sans-serif;;
    font-size: 18px;
    color: #152039;
    font-weight: 600;
    transition: 0.3s;
}

.Login-google > button:hover{
    cursor: pointer;
    scale: 1.05;
}

.Log-wit-google{
    width: 263.77px !important;
    height: 49px !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
    background: none !important;
    border: solid white 2px !important;
    border-radius: 10px !important;
    color: white !important;
    border-radius: 25px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px !important;
}

.Login-google > img{
    width: 100px;
    height: auto;
}

.Log-wit-google span{
    text-decoration: none;
    color: white;
    box-shadow: none;
    text-shadow: none;
}

.Log-wit-google-resp {
    display: none!important;
}

@media (max-width: 850px) {
    .User-Login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        max-width: max-content;
        padding: none;
    }

    .Dados-Container {
        min-width: auto;
        max-width: 370px;
        border-radius: 15px;
        min-width: 100px;
    }

    .Log-wit-google-resp {
        display: flex !important;
        padding: 30px 5px;
    }
    
    .Login-google {
        display: none;
    }

    .Log-wit-google-resp {
        max-width: 250px;
        padding: 30px 7px;
        filter: drop-shadow(0px 4px 4px rgba(78, 78, 78, 0.5));
        border-radius: 10px !important;
        border-radius: 50px !important;
        background-color: #fff !important;
        color: black !important;
    }
}

@media (max-width: 430px) {
    .Dados-Container {
        max-width: 300px;

        > button {
            max-width: 250px;
        }
    }

    .link-cadastro {
        max-width: 250px;
    }

    .Log-wit-google-resp {
        max-width: 250px;
        padding: 30px 7px;
        filter: drop-shadow(0px 4px 4px rgba(78, 78, 78, 0.5));
        border-radius: 10px !important;
        border-radius: 50px !important;
        background-color: #fff !important;
        color: black !important;


        > span {
            font-size: 14px;
        }
        
        > img {
            margin-right: 5px;
        }
    }
}

}