.pagina-cadastro-produto
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--fundo-tela);
    color: rgb(var(--cor-textos));

    main
    {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        
        flex-grow: 1;
    }

    .informacoes-cadastro-produto{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding: 30px;

        button{
            width: 275px;
            height: 52px;
            flex-shrink: 0;
            color: #FFF;
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            border-radius: 15px;
            background: var(--azul-textos, #1C84FF);
            border: none;
            margin-top: 25px;
        
            transition: 0.5s;
        }

        .btn-novo {
            margin-top: 10px;
            background: rgba(var(--cor-textos), 0.4);
            color: rgb(var(--cor-textos));
        }

        button:hover{
            cursor: pointer;
            scale: 1.05;
        }

        select:focus-visible{
            outline: none;
        }

        select:hover{
            cursor: pointer;
        }

        h1{
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
        }

    }

    .info-foto-produto{
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        align-items: center;

        button{
            border-radius: 15px;
            background: var(--azul-marca, #152039);
            height: 52px;
            border: none;
            margin-top: 20px;
            color: white;
            font-size: 14px;
        }

        button:hover{
            cursor: pointer;
        }

        .add-2nd-img{
            background: var(--cinza-no-pode-clicar, #ACACAC);
            color: var(--cinza-claro-texto, #424242);
            margin-top: 6px;
        }

        .input-file {
            position: absolute;
            visibility: hidden;
        }
        
        .foto-produto{
            width: 100%;
            max-width: 290px;
            height: 360px;
            background: var(--fundo-componentes);
            padding: 18px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    
        .foto-principal{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 270px;
            background: #989898;
            border: none;

            > .imagem-produto {
                max-width: 220px;
                max-height: 250px;
                box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.5);
            }
        }
    
        .foto-principal:focus-visible{
            outline: none;
        }
    
        .fotos-adicionais{
            display: flex;
            flex-direction: row;
            gap: 13px;
            margin-top: 7px;
    
            div{
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                width: 50px;
                height: 50px;
                background-color: #989898;
            
                img {
                    max-width: 40px;
                    max-height: 40px;
                }

                .deletar-img {
                    position: absolute;
                    width: 24px;
                    top: -12px;
                    right: -7px;
                }
            }    
        }
    }

    .info-abt-produto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > p {
            margin-left: 12px;
            margin-bottom: 5px;
        }
    }

    .detalhes-registro-produto{
        display: flex;
        flex-direction: row;
        margin-top: 25px;
    }

    .inicial-info{
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        gap: 10px;

        input:focus-visible{
            outline: none;
        }
    }
    
    .inicial-info > input{
        border-radius: 20px;
        color: #111111;
        background: var(--cinza-imagens);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: none;
        height: 32px;
        padding: 5px 12px;
        margin-bottom: 20px;
    }

    .nome-produto{
        width: 200px;
        height: 32px;
    }

    .descricao-produto{
        border-radius: 20px;
        background: var(--fundo-componentes-tema-escuro, #FAFAFA);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        height: 180px;
        margin-top: 6px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        padding: 5px;
    }

    textarea:focus-visible{
        outline: none;
    }

    textarea{
        border: none;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--cinza-imagens);
    }

    .caracteristicas-produto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .especificacoes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-content: flex-end;

            p{
                font-weight: 500;
                font-size: 12px;
                width: 260px;
                text-align: center;
                margin-bottom: 5px;
            }

            input{
                width: 320px;
                height: 131px;
                border-radius: 20px;
                background: var(--cinza-imagens);
                color: #111111;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border: none;
            }

            input:focus-visible{
                outline: none;
            }

            select {
                background-color: var(--cinza-imagens);
            }
        }
    }

    .estado-produto{
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 18px;

        >select{
            width: 209px;
            height: 31px;
            border-radius: 20px;
            background: var(--cinza-imagens);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            border: none;
            padding: 0px 8px;
        }

        .check-usado{
            display: flex;
            flex-direction: row;
        }


    }


    

}