.pagina-cadastro-produto
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    main
    {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .informacoes-cadastro-produto{
        display: flex;
        flex-direction: column;

        align-items: center;
        height: 100vh;
        flex-grow: 1;
        padding: 30px;

    }

    .foto-produto{
        width: 290px;
        height: 350px;
        background: #D9D9D9;
        padding: 18px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-top: 25px;
    }

    .foto-principal{
        width: 100%;
        height: 270px;
        background: #989898;
    }

    .fotos-adicionais{
        display: flex;
        flex-direction: row;
        
        div{
            width: 50px;
            height: 50px;
            background-color: #989898;
        }

    }



}