.pagina-carrinho
{
    background-color: var(--fundo-tela);
    transition: 0.3s;

    * {
        transition: 0.1s;
    }

    main
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 30px 20px;
        color: rgb(var(--cor-textos));
    }

    main > .container-tela
    {
        width: 100%;
        max-width: var(--container-tela);

        display: flex;
        justify-content: space-between;
    }

    .sec-carrinho
    {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        flex-grow: 1;
    }

    main > h1
    {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .container-carrinho
    {
        padding: 16px;
        width: 100%;

        background-color: var(--fundo-componentes);
        border-radius: 15px;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.2);

        > .msg-vazio {
            padding: 16px;
            text-align: center;
            font-weight: 500;
        }
    }

    .container-carrinho .produto-container
    {
        background-color: var(--fundo-componentes2);
        padding: 16px;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.2);
        margin-bottom: 10px;
    }

    .produto {
        display: flex;
    } 

    .produto > .img
    {
        max-width: 150px;    
        max-height: 150px;  

        width: 100%;
        margin-right: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--fundo-componentes);
        padding: 5px;
        border-radius: 5px;

        img {
            height: 100%;
            max-width: 100%;

            box-shadow: 0 0 10px 3px rgba($color: #000000, $alpha: 0.4);
        }
    }

    .produto-especificacoes
    {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-right: auto;
    }

    .produto-especificacoes > h2
    {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .produto-especificacoes > h3
    {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .produto-especificacoes > h4
    {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;

        color: var(--azul-claro);
    }

    .produto-especificacoes > .container-operadores
    {
        display: flex;
        align-items: flex-end;
    }

    .operador-qtd
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-right: 16px;
    }

    .operador-qtd > h4
    {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .operador-qtd > div
    {
        display: flex;
        padding: 4px 8px;
        border-radius: 100px;

        background-color: var(--fundo-tela);
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.2);

        font-size: 14px;
        font-weight: 600;
    }

    .operador-qtd > div > div
    {
        margin: 0 16px;
    }

    .operador-qtd > div > button
    {
        font-size: 14px;
        font-weight: 600;

        background: none;
        border: none;

        cursor: pointer;
        color: rgb(var(--cor-textos));
    }

    .container-operadores.mobile {
        display: none;
    }

    .container-operadores > button
    {
        padding: 0;
        background: none;
        border: none;
        height: fit-content;

        font-size: 14px;
        font-weight: 400;
        color: var(--azul-claro);

        margin-right: 16px;
    }

    .container-operadores > a
    {
        text-decoration: none;

        font-size: 14px;
        font-weight: 400;
        color: var(--azul-claro);
    }

    .preco-mobile {
        display: none;
    }

    .produto-preco
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        align-self: center;
    }

    .produto-preco > h2
    {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .produto-preco > h4
    {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 3px;
        
        color: rgba($color: var(--cor-textos), $alpha: 0.75);
        text-decoration: line-through;
    }

    .produto-preco > h3
    {
        font-weight: 600;
        font-size: 20px;
    }

    .sec-total 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding: 30px 16px;
        border-radius: 15px;

        background-color: var(--fundo-componentes);
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.2);
        
        text-align: center;
    }

    .sec-total-precos
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .sec-total-precos > div
    {
        display: flex;
        justify-content: space-between;

        margin-bottom: 6px;
        font-size: 14px;
    }

    .sec-total-precos > div > *
    {
        font-weight: 500;
    }

    .sec-total-precos > .total > *
    {
        font-weight: 700;
        font-size: 22px;
    }

    .sec-total-precos > .total-produtos > *, .sec-total-precos > .frete > *
    {
        font-weight: 600;
    }

    .sec-total-input
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 30px;
    }

    .sec-total-input > p
    {
        margin-bottom: 8px;
    }

    .sec-total-input > input
    {
        width: 95%;
        padding: 10px 8px;
        padding-left: 16px;
        border-radius: 100px;
        border: none;

        margin-bottom: 10px;

        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.2);
        background-color: var(--fundo-componentes2);
    }

    .sec-total-input > button {
        padding: 5px 35px;

        font-size: 12px;
        font-weight: 500;
        color: rgba($color: var(--cor-textos), $alpha: 0.75);
    }

    .sec-total-input > input::placeholder
    {
        color: rgba(var(--cor-textos), 0.6);
        font-size: 12px;
    }

    .container-entregas
    {
        margin-bottom: 24px;

        display: flex;
        flex-direction: column;
    }
    
    .container-entregas > div
    {
        padding: 12px 18px;
        background-color: var(--fundo-componentes2);
        border-radius: 15px;

        display: flex;
        align-items: center;

        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.1);
    }

    .container-entregas > div > img
    {
        width: 100%;
        max-width: 50px;
        border-radius: 100px;
        margin-right: 10px;
    }

    .container-entregas > div h3
    {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .container-entregas > div p
    {
        font-size: 12px;
        color: var(--azul-claro);
        margin-bottom: 8px;
    }

    .container-entregas > div h4
    {
        font-size: 16px;
        font-weight: 600;
    }

    .sec-total > a
    {
        width: 100%;
        
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;

        padding: 12px;
        border-radius: 10px;

        background-color: var(--azul-marca);
        color: #FFFFFF;
    }

    @media (max-width: 1024px) {
        main > .container-tela {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .sec-carrinho {
            width: 100%;
            margin: 0;
        }

        .sec-total {
            width: 100%;
            max-width: 500px;
            align-items: center;

            > div, > a {
                width: 100%;
                align-items: center;
            }

            .sec-total-precos > div{
                width: 100%;
            }

            .container-entregas > div {
                width: 100%;
                justify-content: center;
                gap: 20px;

                > img {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .sec-carrinho {
            .produto > img {
                max-width: 100px;
                height: min-content;
                align-self: center;
                margin-right: 16px;
            }

            .produto-preco {
                display: none;
            }

            .produto-especificacoes {
                margin: 0;
                width: 100%;
            }

            .container-operadores {
                width: 100%;
            }

            .preco-mobile {
                display: inline-block;
                margin-left: auto;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    @media (max-width: 620px) {
        .sec-carrinho {
            .produto-container {
                display: flex;
                flex-direction: column;

                .produto {
                    margin-bottom: 10px;

                    > img {
                        max-width: 80px;
                    }

                    .container-operadores {
                        display: none;
                    }

                    .produto-especificacoes {
                        h2 {
                            font-size: 14px;
                        }

                        h3, h4 {
                            font-size: 12px;
                        }
                    }
                }
            }

            .container-operadores.mobile {
                display: flex;
                align-items: flex-end;
                text-align: center;

                .operador-qtd {
                    width: 100%;
                    max-width: 80px;
                    margin-right: 10px;

                    > div {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        > div {
                            font-size: 14px;
                            margin: 0; 
                        }    

                        button {
                            margin: 0;
                        }
                    }
                }

                button, a {
                    margin-right: 10px;
                    font-size: 12px;
                }

                .preco-mobile {
                    font-size: 16px;
                }
            }
        }

        .sec-total {
            .sec-total-precos .total{
                h3, p {
                    font-size: 18px;
                }
            }
            
            .sec-total-input p {
                font-size: 14px;
            }

            > a {
                font-size: 14px;
            }
        }
    }

    @media (max-width: 450px) {
        .sec-carrinho .produto-container .produto > img {
            max-width: 60px;
        } 

        .sec-carrinho .produto-container .container-operadores.mobile .operador-qtd {
            max-width: 60px;

            > div {
                padding: 4px 3px;
            }
        }

        main {
            padding: 30px 8px;
        }

        .container-carrinho {
            border-radius: 5px;
            padding: 16px 8px;
        }

        .sec-carrinho .container-operadores.mobile {
            > a {
                font-size: 12px;
                font-weight: 600;
                margin: 0;
            }

            > button {
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}