@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body
{
    background-color: var(--cinza-fundo);
}

:root
{
    --container-tela: 1220px;

    --azul-marca: #152039;
    --cinza-imagens: #D9D9D9;
    --cinza-fundo: #EBEBEB;
    --azul-escuro: #030C1E;

    --preto-textos: #000000E9;
    --azul-claro: #308FFF;
    --verde-claro: #00D251;
    --dourado: #F59E0B;

    --cinza-componentes: #33363A;
}