@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root
{
    --container-tela: 1220px;

    --azul-marca: #152039;
    --cinza-imagens: #D9D9D9;
    --azul-escuro: #030C1E;

    --azul-claro: #308FFF;
    --verde-claro: #00D251;
    --dourado: #F59E0B;

    --cinza-componentes: #33363A;
}

.light {
    --cor-textos: #000000E9;
    --fundo-componentes: #FAFAFA;
    --fundo-tela: #EBEBEB;
}

.dark {
    --cor-textos: #FAFAFA;
    --fundo-componentes: #33363A;
    --fundo-tela: #212529;
}
