.cabecalho-logo
{
    padding: 15px;
    background-color: var(--azul-marca);

    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    img
    {
        width: 150px;
        height: 70px;
    }
}