.pagina-produto
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(var(--cor-textos));
    background-color: var(--fundo-tela);

    transition: 0.3s;

    * {
        transition: 0.1s;
    }

    .container-main
    {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;

        @media (max-width: 768px) {
            padding: 20px 10px;
        }
    }

    main
    {
        display: flex;
        flex-direction: column;
        background-color: #FFF;

        max-width: var(--container-tela);
        background-color: var(--fundo-componentes);
        padding: 36px 25px;
        align-self: center;

        box-shadow: 0 4px 4px 0 rgba(#000000, 0.3);
        border-radius: 5px;

        margin-bottom: 30px;

        @media (max-width: 700px) {
            padding: 20px 10px;
        }
    }

    .container-produto
    {
        display: flex;
        flex-direction: row;
        gap: 22px;
        margin-bottom: 40px;

        .mobile-container-cima {
            display: flex;
            flex-direction: row;
            gap: 22px;
            width: 70%;
        }

        .imagens
        {
            display: flex;
            flex-direction: column;
            width: 100%;

            .cont-imagem-principal
            {
                padding: 30px;
                border: 1.5px solid rgba($color: var(--cor-textos),$alpha: 0.3);
                box-shadow: 0 0 5px 0 rgba($color: var(--cor-textos),$alpha: 0.2);
                border-radius: 5px;

                margin-bottom: 15px;
    
                display: flex;
                justify-content: center;
                align-items: center;


    
                .img-principal .iiz__img
                {
                    height: 100vh;
                    max-height: 400px;
                    object-fit: contain;
                }
            }
    
            .cont-imagens-secundarias
            {
                display: flex;
                flex-direction: row;

                gap: 12px;
                width: 100%;
                
                div
                {
                    padding: 9px 9px;
                    border: 1.5px solid rgba(var(--cor-textos),0.3);
                    box-shadow: 0 0 5px 0 rgba(var(--cor-textos), 0.2);
                    border-radius: 5px;
    
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    max-width: 150px;
                    max-height: 120px;
                }
    
               img
               {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
               }
            }
        }

        .info
        {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            width: 100%;

            h1{
                font-size: 25px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .avaliacao
            {
                display: flex;
                flex-direction: row;
                align-items: center;

                font-size: 14px;
                margin-bottom: 18px;

                img
                {
                    width: 130px;
                    margin-right: 4px;
                }
            }

            .preco
            {
                display: flex;
                flex-direction: row;
                margin-bottom: 20px;

                > div:first-child
                {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    padding-right: 16px;

                    h3
                    {
                        font-size: 16px;
                        font-weight: 500;
                        color: rgba($color: var(--cor-textos),$alpha: 0.6);
                    }

                    h2
                    {
                        font-size: 28px;
                        font-weight: 600;
                    }

                    h4
                    {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }

                .desconto
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: var(--verde-claro);

                    padding-left: 16px;
                    border-left: 1px solid rgb(var(--cor-textos));

                    h3
                    {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            a
            {
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
                color: var(--azul-claro);

                margin-bottom: 18px;
            }
            
            .sobre
            {
                margin-bottom: 18px;

                h4
                {
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 5px;
                }

                p
                {
                    font-size: 13px;
                    font-weight: 500;
                    margin-bottom: 4px;
                }

                a
                {
                    font-size: 14px;
                }
            }

            ul
            {
                font-size: 14px;
                font-weight: 500;
                line-height: 25px;
                padding-inline-start: 20px;
            }
        }

        .entregas
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;

            border: 1px solid rgba($color: var(--cor-textos),$alpha: 0.3);
            border-radius: 10px;

            padding: 20px;
            height: fit-content;

            > h2
            {
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 17px;
            }

            hr
            {
                border: 1px solid rgba($color: var(--cor-textos),$alpha: 0.3);
                width: 95%;
                margin-bottom: 20px;
            }

            .input-cep
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 20px;

                h3
                {
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba($color: var(--cor-textos),$alpha: 0.7);
                    margin-bottom: 6px;
                }

                div
                {
                    width: 100%;
                    border: none;
                    border-radius: 100px;
                    background-color: var(--fundo-componentes2);
                    
                    display: flex;

                    input {
                        background: none;
                        border: none;
                        color: rgb(var(--cor-textos));
                        width: 100%;
                        padding: 10px 16px;
                    }

                    button {
                        background-color: var(--azul-marca);
                        border: none;
                        color: #FFF;
                        border-top-right-radius: 100px;
                        border-bottom-right-radius: 100px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 12px;
                        cursor: pointer;
                    }
                }

                input::placeholder {
                    color: rgba(var(--cor-textos),0.6);
                }
            }

            .container-entregas
            {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 36px;
                gap: 10px;

                .entrega {
                    display: flex;
                    flex-direction: column;
                    max-width: 400px;

                    h2
                    {
                        font-size: 12px;
                        font-weight: 600;
                        color: var(--verde-claro);

                        margin-bottom: 4px;
                    }

                    h3 {
                        font-size: 10px;
                        font-weight: 600;
                        color: (var(--verde-claro));
                        opacity: 0.6;
                        margin-bottom: 8px;
                    }

                    > div
                    {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 20px;

                        padding: 10px 21px;
                        background-color: var(--fundo-componentes2);
                        border-radius: 15px;

                        img
                        {
                            width: 50px;
                            height: 50px;
                            border-radius: 100px;
                        }

                        h4
                        {
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: 4px;
                        }

                        p
                        {
                            font-size: 12px;
                            font-weight: 500;

                            color: var(--azul-claro);
                            margin-bottom: 4px;
                        }

                        h5
                        {
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }

            .btn-comprar, .btn-carrinho
            {
                width: 100%;
                padding: 12px;

                border: none;
                border-radius: 10px;

                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .btn-comprar
            {
                background-color: var(--azul-claro);
                color: #FFF;
                margin-bottom: 16px;
            }

            .btn-carrinho
            {
                background-color: rgba(var(--cor-textos), 0.2);
                color: var(--preto-textos);
            }
        }

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;

            .mobile-container-cima {
                width: 100%;
            }

            .entregas {
                width: 100%;

                .container-entregas {
                    flex-direction: row;
                    gap: 20px;
                    justify-content: space-around;
                    width: 100%;

                    .entrega {
                        width: 100%;
                        
                        > div {
                            justify-content: center;
                        }
                    }
                }
            }
        }

        @media (max-width: 700px) {
            .mobile-container-cima {
                flex-direction: column;
            }

            .imagens {
                flex-direction: row-reverse;
                gap: 10px;

                .cont-imagem-principal {
                    width: 100%;
                    margin: 0;
                    padding: 10px;
                }

                .cont-imagens-secundarias {
                    flex-direction: column;
                    width: unset;
                }

                .cont-imagem-principal img {
                    max-width: 250px;
                }

                .cont-imagens-secundarias img {
                    max-width: 75px;
                }
            }

            .info {
                h1 {
                    font-size: 20px;
                }

                .avaliacao img {
                    width: 90px;
                }

                .preco > div:first-child h3 {
                    font-size: 14px;
                }

                .preco > div:first-child h4 {
                    font-size: 14px;
                }

                a {
                    font-size: 14px;
                }

                .sobre p, .sobre a {
                    font-size: 13px;
                }
            }

            .entregas .container-entregas{
                flex-direction: column;
                align-items: center;
                margin-bottom: 16px;

                .entrega {
                    width: 100%;

                    > div {
                        justify-content: center;   
                        gap: 12px;
                    }
                }
            }
        }
    } 
    
    .sec-relacionados
    {
        margin-bottom: 70px;

        h1
        {
            text-align: center;
            margin-bottom: 27px;
            font-size: 24px;
        }

        @media (max-width: 700px) {
            margin-bottom: 35px;

            h1 {
                font-size: 20px;
            }
        }

        > div
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            gap: 2%;
            width: 100%;
        }

        .container-produtos
        {
            display: flex;
            justify-content: space-between;
            gap: 3vw;

            max-width: var(--container-tela);
            width: 100%;

            padding: 0 10px;

            > div {
                width: 100%;
                display: flex;
                justify-content: space-around;
                gap: 3vw;
            }

            @media (max-width: 900px) {
                flex-direction: column;

                > div {
                    justify-content: center;
                }

                .card-produto {
                    padding: 5px;

                    h2 {
                        font-size: 13px;
                    }

                    a {
                        display: none;
                    }

                    > img {
                        margin-bottom: 5px;
                    }

                    > h2 {
                        margin-bottom: 7px;
                    }

                    .preco {
                        margin-bottom: 8px;
                    }
                }
            }

            @media (max-width: 600px) {
                .card-produto {
                    h2 {
                        font-size: 12px;
                    }

                    .preco {
                        font-size: 25px;
                    }
                }
            }

            @media (max-width: 450px) {
                .card-produto {
                    h2 {
                        font-size: 11px;
                    }

                    p {
                        font-weight: 600;
                        font-size: 8px;
                    }

                    .preco-anterior {
                        font-size: 11px;
                    }

                    .preco {
                        font-size: 18px;
                    }
                }
            }
        }

        .card-produto {
            background-color: var(--fundo-componentes2);
        }
    }

    .sec-detalhes
    {
        align-self: center;

        width: 80%;
        border-top: 1px solid rgba(var(--cor-textos), 0.3);
        padding-top: 40px;

        > h1
        {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 30px;

            text-transform: uppercase;
            text-align: center;
        }
        
        h2
        {
            text-transform: uppercase;

            font-size: 18px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        p
        {
            margin-bottom: 16px;
        }

        > div
        {
            margin-bottom: 35px;
        }

        .info-usado
        {
            p, h3
            {
                font-size: 16px;
                font-weight: 600;
            }

            ul
            {
                margin-bottom: 16px;
            }  

            ul
            {
                padding-inline-start: 20px;
            }
        }

        .tabela-especificacoes
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            color: #000000E9;

            outline: 2px solid;

            .linha
            {
                display: flex;
                flex-direction: row;

                div
                {
                    padding: 10px 20px;
                    width: 100%;
                    outline: 1px solid;
                }

                div:first-child
                {
                    text-transform: uppercase;
                    font-weight: 500;
                }

                div:last-child
                {
                    font-weight: 600;
                }
            }

            .linha:nth-child(odd)  
            {
                background-color: var(--cinza-imagens);
            }
            
            .linha:nth-child(even)
            {
                background-color: #FAFAFA;
            }           
        }

        @media (max-width: 1000px) {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 16px;
            }

            p {
                font-size: 14px;
            }

            .info-usado {
                h3, p, ul {
                    font-size: 14px;
                }
            }

            .tabela-especificacoes {
                font-size: 14px;
            }
        }

        @media (max-width: 460px) {
            .tabela-especificacoes {
                flex-direction: column;
                flex-wrap: wrap;

                .linha {
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }

    .sec-comentarios
    {
        display: flex;
        flex-direction: column;
        align-self: center;

        max-width: var(--container-tela);
        width: 100%;
        padding: 30px;

        background-color: var(--fundo-componentes);
        box-shadow: 0 4px 4px 0 rgba(#000000, 0.3);
        border-radius: 5px;

        > div
        {
            display: flex;
            justify-content: center;
            gap: 36px;

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;

                > .container-avalie {
                    width: 100%;
                }
            }
        }

        .avaliacao-geral
        {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2
            {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            h3
            {
                font-size: 35px;
                font-weight: 700;
                color: var(--dourado);
            }

            img
            {
                width: 215px;
                margin-bottom: 5px;
            }

            h4
            {
                font-size: 16px;
                color: rgba(var(--cor-textos), 0.6);
            }
        }

        .container-avalie
        {
            width: 60%;

            div:first-child
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                box-shadow: 0 0 10px 0 rgba(var(--cor-textos), 0.2);
                border-radius: 15px;

                padding: 20px;
                margin-bottom: 27px;

                h2
                {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                h3
                {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 15px;
                }

                img
                {
                    width: 100%;
                    max-width: 280px;
                }

                p
                {
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(var(--cor-textos), 0.7);
                }
            }

            div:last-child
            {
                display: flex;
                flex-direction: column;

                width: 100%;

                textarea
                {
                    background-color: var(--fundo-tela);
                    color: rgb(var(--cor-textos));
                    border: 1px solid rgba(var(--cor-textos), 0.3);
                    border-radius: 5px;
                    margin-bottom: 20px;

                    padding: 20px 14px;
                    width: 100%;
                }

                textarea::placeholder
                {
                    color: rgba(var(--cor-textos), $alpha: 0.6);
                    font-size: 16px;
                }

                button
                {
                    align-self: flex-end;

                    width: fit-content;
                    padding: 7px 30px;
                    border: none;
                    border-radius: 10px;

                    background-color: var(--azul-claro);
                    color: #FFF;

                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;

                    cursor: pointer;
                }
            }
        }

        .container-comentarios
        {
            display: flex;
            flex-direction: column;
            align-self: center;

            width: 75%;
            gap: unset;

            > h2
            {
                font-size: 18px;
                font-weight: 600;
                margin-top: 20px;
                
                text-align: center;
            }

            > div
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                border-bottom: 1px solid rgba(var(--cor-textos), 0.3);
                padding: 20px 0;
            }

            .container-comentario
            {
                display: flex;
                flex-direction: column;
            
                > div
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 5px;

                    img
                    {
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                    }

                    > div {
                        flex-direction: column;
                    }
                    
                    h4
                    {
                        font-size: 16px;
                        font-weight: 600;
                        margin-right: 5px;
                    }

                    h5
                    {
                        font-size: 14px;
                        margin-top: 4px;
                        font-weight: 600;
                        color: rgba(var(--cor-textos), 0.7);
                    }
                }   

                > img
                {
                    width: 120px;
                    margin-bottom: 10px;
                }

                > p
                {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .coment-likes
                {
                    font-size: 12px;
                    font-weight: 500;
                    color: rgba(var(--cor-textos), 0.6);
                }

                > button {
                    background: none;
                    border: none;

                    color: rgb(var(--azul-claro));
                    text-align: left;
                    font-size: 12px;
                    cursor: pointer;
                }

                > button:hover {
                    text-decoration: underline;
                }
            }

            > div > button
            {
                border: none;
                border-radius: 100px;
                background-color: var(--azul-escuro);
                height: fit-content;

                padding: 20px;
                align-self: center;
            }

            > div > button.liked {
                background-color: var(--cinza-imagens);

                img {
                    filter: brightness(0) saturate(100%);
                    filter: invert(6%) sepia(30%) saturate(1567%) hue-rotate(182deg) brightness(50%) contrast(104%);
                    opacity: 1;
                }
            }

            @media (max-width: 768px) {
                width: 100%;

                > div {
                    width: 100%;
                }
            }
        }

        .cont-sem-avaliacoes {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            margin-top: 16px;
            gap: 0;

            > h3 {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 5px;
            }

            > h4 {
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 12px;
            }
            
            > div {
                background-color: rgba($color: var(--cor-textos),$alpha: 0.15);
                box-shadow: 0 0 10px 2px rgba($color: var(--cor-textos),$alpha: 0.2);
            }

            img {
                width: 100%;
                max-width: 300px;
            }

            @media (max-width: 768px) {
                > h3 {
                    font-size: 16px;
                }

                > h4 {
                    font-size: 12px;
                }

                img {
                    max-width: 200px;
                }
            }
        }

        @media (max-width: 768px) {
            > div {
                gap: 18px;
            } 

            .avaliacao-geral {
                img {
                    width: 180px;
                }

                h2 {
                    font-size: 16px;
                }

                h4 {
                    font-size: 14px;
                }
            }

            .container-avalie > div:first-child {
                margin-bottom: 16px;

                h2 {
                    font-size: 16px;
                }

                h3 {
                    font-size: 14px;
                    margin-bottom: 8px;
                }

                img {
                    max-width: 200px;
                    margin-bottom: 5px;
                }
            }

            .container-avalie > div:last-child textarea{
                margin-bottom: 16px;
                font-size: 14px;
            }

            .container-avalie > div:last-child textarea::placeholder {
                font-size: 14px;
            }

            .container-avalie > div:last-child button {
                font-size: 14px;
            }

            .container-comentarios {
                h2 {
                    font-size: 18px;
                }

                .container-comentario > div {
                    h4 {
                        font-size: 14px;
                    }

                    h5 {
                        font-size: 12px;
                    }
                }

                .container-comentario > p {
                    font-size: 14px;
                }

                > div > button {
                    padding: 12px;

                    img {
                        width: 16px;
                    }
                }
            }
        }

        @media (max-width: 500px) {
            .container-comentarios > div {
                flex-direction: column;
                padding-bottom: 10px;

                > button {
                    align-self: flex-start;
                }
            }
        }

        @media (max-width: 420px) {
            .container-comentarios .container-comentario > div {
                flex-wrap: wrap;
            }
        }
    }
}