.teladePagamento{

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
        background: var(--fundo-tela);
        color: rgb(var(--cor-textos));
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 25px;

        transition: 0.3s;

        * {
            transition: 0.1s;
        }
    }

    .row-centralizer{
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

   .info-pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   }
      
   .encomendas{
    flex-grow: 1;
    width: 100%;
    border-radius: 5px;
    border: 0px solid #000;
    background: var(--fundo-componentes);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
  
    img{
        max-height: 80px;
    }

    div{
        margin-bottom: 5px;
        width: 100%;
    }

    h1{
        font-size: 22px;
    }
}

.produtos{
    overflow-y: scroll;
    height: 300px;
    padding-right: 10px;
}

.produtos::-webkit-scrollbar {
    width: 8px;
}

.produtos::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 5px;
}

.produtos::-webkit-scrollbar-track {
    background: #969696e5;
    border-radius: 10px;
}

.especs-pedido{
    flex-shrink: 0;
    background: var(--fundo-componentes2);
    display: flex;
    padding: 5px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px!important;
   

    p{
        font-size: 12px;
        margin-left: 6px;
        width: 100%;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        p{
            font-weight: 600;
        }
    }
}

.metodos-pagamento{
    max-width: 780px;
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    padding: 12px 17px;
    justify-content: space-evenly;
    align-items: center;
    background: var(--cinza-imagens);
    border-radius: 5px;
    
    > p {
        width: 100%;
        max-width: 170px;
        color: rgba(0, 0, 0, 0.7);
    } 

    .metodos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 410px;
        gap: 10px;
    }

    button{
        border-radius: 5px;
        background:#1C84FF;
        border: none;
        color: #FFF;
        padding: 10px 12px;
        font-size: 12px;
        text-decoration: none;
    }

    button:hover{
        cursor: pointer;
        color: #1C84FF;
        background-color: #FFF;
        transition: 0.3s;
    }
}

.bandeira-cartões{
    background: #FFF;
    margin-top: 15px;
    border-radius: 5px;
}

.resumo-pedido{

    >p{
        font-size: 12px;
        font-style: italic;
        text-align: center;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .card-resumo{
        background-color: var(--fundo-componentes);
        padding: 20px;
        border-radius: 5px;
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 15px;
    }

    .borda-resumo{
        border: 2px solid rgba(var(--cor-textos), 0.30);
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 15px 0px;
        gap: 10px;
        max-width: 400px;
        width: 100%;
        padding: 15px 30px;

        .cupom, .finalizar-pedido{
            color: #FAFAFA;
            font-size: 13px;
            font-weight: 700;
            width: 100%;
            padding: 10px 25px;
            align-items: center;
            justify-content: center;
            display: flex;
            border-radius: 5px;
            gap: 10px;
            border: none;
            background: #1C84FF;
        }

        .cupom:hover, .finalizar-pedido:hover {
            transform: scale(1.02);
            cursor: pointer;
        }

        .input-cupom
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 10px;

                h3
                {
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba($color: var(--cor-textos),$alpha: 0.7);
                    margin-bottom: 6px;
                }

                div
                {
                    width: 100%;
                    border: none;
                    border-radius: 100px;
                    background-color: var(--fundo-componentes2);
                    
                    display: flex;

                    input {
                        background: none;
                        border: none;
                        color: rgb(var(--cor-textos));
                        width: 100%;
                        padding: 10px 16px;
                    }

                    button {
                        height: 100%;
                        background-color: var(--azul-marca);
                        border: none;
                        color: #FFF;
                        border-top-right-radius: 100px;
                        border-bottom-right-radius: 100px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 12px;
                        cursor: pointer;
                    }
                }

                input::placeholder {
                    color: rgba(var(--cor-textos),0.6);
                }
            }

        .finalizar-pedido{
            background: var(--verde-claro);
            color: #FFF;

            svg {
                color: #FFF;
            }
        }

        .linha2{
            width: 64px;
            height: 2px;
            background: rgba(var(--cor-textos), 0.30);
        }

        >p{
            font-size: 13px;
            text-align: center;
            color: rgba(var(--cor-textos), 0.60);
        }

        .pix{
            font-weight: 700;
            color: var(--verde-claro);
            font-size: 13px;
        }

        .total{
            font-weight: 700;
        }

        .linha{
            height: 2px;
            width: 100%;
            background: rgba(var(--cor-textos), 0.30);
        }

        h1{
            font-weight: 400;
            text-align: center;
            font-size: 24px;
        }

        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {
    .resumo-pedido {
        width: 100%;
        max-width: 270px;
    }

    .borda-resumo {
        > h1 {
            font-size: 22px;
        }

        > div {
            > p {
                font-size: 12px;
            }
        }

        > button {
            > svg {
                display: none;
            }
        }
    }

    .encomendas {
        max-width: 770px;
        height: 100%;
        max-height: 440px;
    }

    .card-resumo {
        height: 100%;
        max-height: 440px;
    }

    .metodos-pagamento {
        .metodos {
            > button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                width: 70px;
            }
        }
    }
}

@media (max-width: 768px) {
    .especs-pedido {
        > p {
            font-size: 11px;
        }
    }
    
    .metodos-pagamento {
        .metodos {
            > button {
                padding: 10px 4px;
                font-size: 12px;
                height: 60px;
                width: 60px;
            }
        }
    }
}

@media (max-width: 768px) {
    .row-centralizer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .especs-pedido {
            > div {
                > p {
                    font-size: 12px;
                }
            }
        }

        .resumo-pedido {
            max-width: 380px;

            .card-resumo {
                width: 100%!important;
                max-width: 500px!important;
            }
        }

        .metodos-pagamento {
            flex-direction: column;
            
            > p {
                max-width: none;
                text-align: center;
                margin-bottom: 10px;
            }

            .metodos {
                > button {
                    width: 89px;
                }
            }
        }
    }
}

@media (max-width: 437px) {
    .row-centralizer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .encomendas {
            max-width: 380px;
        }

        .especs-pedido {
            max-width: 345px;
        }

        .bandeira-cartões {
            width: 100%;
            max-width: 350px;

            > img {
                width: 100%;
                max-width: 330px;
            }
        }

        .metodos-pagamento {
            max-width: 380px;

            > p {
                max-width: none;
                text-align: center;
                margin-bottom: 10px;
            }

            .metodos {
                > button {
                    width: 75px;
                }
            }
        }
        
        .resumo-pedido {
            max-width: 380px;

            > p {
                display: none;
            }
            
            > img {
                display: none;
            }

            .card-resumo {
                width: 100%!important;
                max-width: 500px!important;
            }
        }
    }
}

@media (max-width: 360px) {
    .row-centralizer {
        
        .encomendas {
            max-width: 300px;

            .produtos {
                max-width: 300px;

                .especs-pedido {
                    max-width: 300px;

                    > div {
                        padding: 0px;
                    }
                }
            }
        }

        .metodos-pagamento {
            max-width: 300px;

            > p {
                max-width: none;
                text-align: center;
                margin-bottom: 10px;
            }

            .metodos {
                > button {
                    width: 60px;
                }
            }
        }

        .bandeira-cartões {
            width: 100%;
            max-width: 300px;

            > img {
                width: 100%;
                max-width: 300px;
            }
        }

        .resumo-pedido {
            max-width: 380px;

            > p {
                display: none;
            }
            
            > img {
                display: none;
            }

            .card-resumo {
                width: 100%!important;
                max-width: 300px!important;
            }
        }
    }
}
}