.teladePagamento{

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
        background: var(--fundo-tema-claro, #EBEBEB);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 25px;
    }

   .info-pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
      
   .encomendas{
    max-width: 850px;
    width: 100%;
    border-radius: 5px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
  
    img{
        width: 60px;
        height: auto;
    }

    div{
        margin-bottom: 5px;
    }
}

.produtos{
    overflow-y: scroll;
}

.especs-pedido{
    width: 746px;
    height: 80px;
    flex-shrink: 0;
    background: #F5F5F5;
    display: flex;
    padding: 5px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: flex-start;
    align-items: center;

    p{
        margin-left: 6px;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        gap: 5px;

        p{
            font-weight: 600;
        }
    }
}

.metodos-pagamento{
    max-width: 780px;
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    padding: 28px 17px;
    justify-content: space-around;
    align-items: center;
    background: var(--cinza-imagens, #D9D9D9);
    border-radius: 5px;

    button{
        border-radius: 5px;
        background: var(--azul-textos, #1C84FF);
        border: none;
        color: #FFF;
        padding: 10px 12px;
    }

    button:hover{
        cursor: pointer;
        color: #1C84FF;
        background-color: #FFF;
        transition: 0.3s;
    }
}

.bandeira-cartões{
    background: #FFF;
    margin-top: 15px;
    border-radius: 5px;
}

}